/* The Modal (background) */
*{
  font-family: arial;
}
 .modal-header{
   padding: 8px 15px 8px 15px;
 }
 .legend-name{
   display: flex;
   align-content: center;
   background-color: pink;
   height: 15px;
 }
 .digit {
   border: 1px solid;
   height: 15px;
   width: 15px;
   margin-right: 3px;
   float: left;
   border-color: white;
 }
 .batas {
   border: 1px solid;
   height: 15px;
   width: 15px;
   margin-right: 3px;
   float: left;
   border-radius: 2px;
 }
 .nagari {
   border-color: red;
 }
 .gantiang {
   background: lightgreen;
 }
 .koto {
   background: #fffc84;
 }
 .sutijo {
   background: lightblue;
 }
 .rumah {
   background: #CC8F8F;
 }
 .ibadah {
   background: green;
 }
 .kantor {
   background: blue;
 }
 .umkm {
   background: purple;
 }
 .pendidikan {
   background: gray;
 }
 .kesehatan {
   background: red;
 }

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
